* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: white;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #192841;
}

.bBox {
  position: absolute;
  border: 5px solid black;
  color: black;
}

.nameTag {
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}


.video.loaded {
  position: relative;
  margin: auto;
  display: block;
  width: fit-content;
  border: 5px solid #436DB0;
  height: 90vh;
}

.LoadingScreen {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
  font-size: 30px;
}